<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>월드컵 우승자 발표</title>
  <link rel="stylesheet" href="/style.css">
  <style>
  	body {font-size:large;}
  	div {background-color: rgba(235, 70, 36, 0.408);}
  	span {color:#cf1111bd;}
  </style>
</head>
<body>
  <div>
    <h2>귀여운 동물 월드컵 우승자!</h2>
    승자는 <span th:text="${win}"></span> 입니다!
    <p>
    <img th:src="|${win}.jpg|">
    </p>
    <a href="/worldcup/list"><button>결과보기</button></a>
  </div>
</body>
</html>