<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>월드컵 4강전(2/2)</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div>
    <h2>귀여운 동물 월드컵 4강전 (2/2)</h2>
  </div>
  <div>
    <form action="/worldcup3" method="get">
      <table border="1">
        <tr>
          <th>
            <img src="수달.jpg">
          <th>
            <img src="하프물범.jpg">
        <tr>
          <th>
            <input type="radio" id="1" name="animal2" value="수달" checked>
            <label for="1">수달</label>
          <th>
            <input type="radio" id="2" name="animal2" value="하프물범">
            <label for="2">하프물범</label>
      </table>  
      <br>
      <button type="submit">선택</button>
    </form>
  </div>
</body>
</html>