<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>월드컵 4강전 (1/2)</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div>
    <h2>귀여운 동물 월드컵 4강전 (1/2)</h2>
  </div>
  <div>
    <form action="/worldcup2" method="get">
      <table border="1">
        <tr>
          <th>
            <img src="래서판다.jpg">
          <th>
            <img src="흰담비.jpg">
        <tr>
          <th>
            <input type="radio" id="1" name="animal1" value="래서판다" checked>
            <label for="1">래서판다</label>
          <th>
            <input type="radio" id="2" name="animal1" value="흰담비">
            <label for="2">흰담비</label>
      </table>  
      <br>
      <button type="submit">선택</button>
    </form>
  </div>
</body>
</html>