<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>월드컵 결승전</title>
  <link rel="stylesheet" href="/style.css">
  <style>
  	div {background-color: rgba(240, 129, 129, 0.408);}
  </style>
</head>
<body>
  <div>
    <h2>귀여운 동물 월드컵 결승전! (1/1)</h2>
  </div>
  <div>
    <form action="/winner" method="post">
      <table border="1">
        <tr>
          <th>
            <img th:src="|${animal1}.jpg|">
          <th>
            <img th:src="|${animal2}.jpg|">
        <tr>
          <th>
            <input type="radio" id="1" name="win" th:value="${animal1}" checked>
            <label for="1"><span th:text="${animal1}"></span></label>
          <th>
            <input type="radio" id="2" name="win" th:value="${animal2}">
            <label for="2"><span th:text="${animal2}"></span></label>
      </table>  
      <br>
      <button type="submit">최종 선택</button>
    </form>
  </div>
</body>
</html>