<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link rel="stylesheet" href="/style.css">
<style>  
	body {background:#F8ECE0; text-align:center;}
	h1 {color:brown;} 
</style>
</head>
<body>
<div id="loginInfo" th:text="${loginInfo}"></div><br>
<h1>Campus ShoppingMall</h1>
(bread, coffee, salad)<p>

<form method="get" action="/login/check"> 
	<label for="mid"> ID:</label>
<input type="text" name="mid" id="mid"> 
	<label for="pw"> PW:</label>
<input type="text" name="pw" id="pw">
<button type="submit">로그인</button>
</form><p>
<img src="/Sunflowers.jpg" alt="고흐의 해바라기"><br>
<span class="s2">(그림출처: 나무위키)</span>
</body>
</html>