<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>빵정보 입력</title>
</head>
<body style="background-color:yellow">
<form method="post" action="/bread/answer">
빵 종류: <input type="text" name="mname"><p>
1개당 가격: <input type="number" name="price"><p>
구입 개수: <select name="num">
	<option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>
<p>
<input type="submit" value="구매">
</form>
</body>
</html>